.accountToggle {
  border-radius: 99px;
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-7)
  );
  border: 1px solid var(--app-shell-border-color);
  padding: 4px 16px 4px 4px;
  transition: all 200ms ease-in-out;
}

.accountToggle:hover {
  border-color: light-dark(
    var(--mantine-color-lime-5),
    var(--mantine-color-lime-7)
  );
}
