.item {
  border-radius: var(--mantine-radius-lg);
  width: 100%;
  transition: background-color 200ms ease-in-out;
  padding: var(--mantine-spacing-md);
  border: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-5));
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-6)
  );
}

.item:hover {
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-8)
  );
  cursor: pointer;
}

.createButton {
  border-radius: var(--mantine-radius-lg);
  width: 100%;
  transition: background-color 200ms ease-in-out;
  padding: var(--mantine-spacing-md);
  border: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-5));
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-6)
  );
}
.createButton:hover {
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-8)
  );
  border-color: var(--mantine-color-lime-5);
  cursor: pointer;
}

@media (max-width: 450px) {
  .buttonGroup {
    flex-direction: column;
  }
  .createButton {
    width: 100%;
    max-width: none;
  }
}
