.transactionButton {
  padding: var(--mantine-spacing-md) var(--mantine-spacing-lg);
  width: 100%;
  border-bottom: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-7)
  );
  transition: all 200ms ease-in-out;
}

.transactionButton:hover {
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-6)
  );
}

.transactionStack {
  border-top: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

/* Filter Nav */
.filterHeader {
  /* height: 66px; */
  background-color: var(--mantine-color-body);
  border-bottom: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.filterPill {
  color: light-dark(var(--mantine-color-lime-8), var(--mantine-color-lime-5));
  background-color: var(--mantine-color-lime-light);
  font-weight: 600;
}

@media (max-width: 799px) {
  .filterHeader {
    /* height: 60px; */
  }
}
