.transactionButton {
  padding: var(--mantine-spacing-md);
  width: 100%;
  border-radius: var(--mantine-radius-lg);
  border: 1px solid;
  border-color: light-dark(
    var(--mantine-color-gray-3),
    var(--mantine-color-dark-4)
  );
  transition: all 150ms ease-in-out;
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-6)
  );
}

.transactionButton:hover {
  background-color: var(--mantine-color-green-light);
  border-color: light-dark(
    var(--mantine-color-lime-5),
    var(--mantine-color-lime-7)
  );
}

.transactionButton:active {
  transform: scale(0.998);
}
