.drawerContent {
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-9)
  );
  overflow-y: hidden !important;
}

.drawerHeading {
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-body)
  );
  padding: var(--mb-padding, var(--mantine-spacing-md));
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  border-bottom: 1px solid;
  border-color: light-dark(lightgrey, var(--mantine-color-dark-4));
  box-shadow: 0px 10px 8px -10px rgba(0, 0, 0, 0.1);
}

.panel {
  width: 100%;
}

.tab {
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
  transition: background-color 300ms;
  padding: 12px 20px 12px 16px;
}
.tab:hover {
  background-color: light-dark(
    var(--mantine-color-gray-1),
    var(--mantine-color-dark-7)
  );
}

.tab[data-active="true"] {
  background-color: light-dark(
    var(--mantine-color-lime-light),
    var(--mantine-color-lime-light)
  );
  color: light-dark(var(--mantine-color-lime-6), var(--mantine-color-lime-3));
}
.tab[data-active="true"]:hover {
  background-color: light-dark(
    var(--mantine-color-lime-light-hover),
    var(--mantine-color-lime-light-hover)
  );
}
.tabLabel {
  text-align: left !important;
  font-weight: 700;
  font-size: var(--mantine-font-size-md);
}

.navLinkRoot {
  border-radius: var(--mantine-radius-md);
}
.navLinkBody {
  flex: initial;
}

.navLinkLabel {
  font-size: 20px !important;
}

@media (max-width: 767px) {
  .contentStack {
    padding: 0 !important;
  }
  .sectionWrapper {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media (max-width: 949px) {
  .switchesGroup {
    flex-direction: column;
    --group-align: flex-start !important;
  }
  .switchesWrapper {
    flex-direction: row;
    width: 100%;
    --stack-gap: var(--mantine-spacing-xl) !important;
  }
}
