.featuredHeader {
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-8)
  );
  overflow-x: auto;
  border-bottom: 1px solid var(--app-shell-border-color);
}

.button {
  width: 100%;
  min-width: 280px;
  min-height: 84px;
  border: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  border-radius: var(--mantine-radius-lg);
  box-shadow: none;
  padding: var(--mantine-spacing-sm);
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-6)
  );
  transition: all 200ms ease-in-out;
}
.button:hover {
  border-color: var(--mantine-color-lime-6);
  box-shadow: var(--mantine-shadow-sm);
}
