.successDrawer {
  background-image: url("/images/texture-lines.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}
.successDrawer.mantine-Drawer-content {
  background-color: transparent;
}
.transparentHeader {
  background-color: transparent;
  border-bottom: none;
}
/* .successCloseButton {
  color: var(--mantine-color-white);
} */
.successCloseButton:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
/* Rotate coins */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.coinContainer {
  position: relative;
  width: 100%;
  margin-top: -220px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.coinImage {
  animation: rotate 500s linear infinite;
  opacity: 60%;
}
.coinOverlay {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.amountInput {
  font-size: 3.5rem;
  font-weight: 500;
  text-align: center;
  color: var(--mantine-color-text);
  background-color: transparent !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  padding: 0 !important;
  height: auto !important;
  min-height: auto !important;
  line-height: 1.2;
}

.amountInput::placeholder {
  color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-3));
}

.recipientPaper {
  background: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-5)
  );
}

.recipientContainer {
  /* This ensures the container does not overflow the drawer's width */
  max-width: 100%;
}

.recipientDetailsGroup {
  /* Allows the group to shrink */
  min-width: 0;
  flex: 1;
}

.recipientTextContainer {
  /* Allows the text container to shrink */
  min-width: 0;
  flex: 1;
}

.detailsText {
  /* Ensures single-line truncation with an ellipsis */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.detailsText a {
  color: inherit;
  text-decoration: none;
}

.waiverInputWrapper {
  height: auto !important;
}

.waiverButton {
  padding: var(--mantine-spacing-md) var(--mantine-spacing-sm);
  border: 1px solid;
  border-color: var(--mantine-color-orange-5);

  border-radius: 8px;
  background: var(--mantine-color-orange-light);
  transition: all 200ms ease-in-out;
}

.waiverButton:hover {
  border-color: light-dark(
    var(--mantine-color-orange-6),
    var(--mantine-color-orange-7)
  );
  background: var(--mantine-color-orange-light);
}
